/*GroupList.jsx
*****************************************************************/

.groups_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*GroupsSort.jsx
*****************************************************************/

.groups_sort {
    text-align: center;
}

.groups_select {
    width: 200px;
    margin-bottom: 20px;

}

/*GroupItem.jsx
*****************************************************************/

.group_item {
    max-width: 90%;
    min-width: 70%;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    padding-top: 5px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2);
    text-align: left;
}

Button.active_group {
    margin-top: 15px;
    color: green;
    border-color: green;
}

Button.inactive_group {
    margin-top: 15px;
    color: lightslategrey;
    border-color: lightslategrey;
}

Button.active_group:hover {
    border-color: green;
}

Button.inactive_group:hover {
    border-color: lightslategrey;
}

.group_accordion {
    border: 2px solid lightgray;
}

/*GroupAccordion.jsx
*****************************************************************/

.acc_details {
    display: flex;
    justify-content: space-between;
}